---
layout: default
title: home
---

{% include header.html %}

<div class="container">

  <div class="content">
    <div class="row">
      <div class="span10">
        {% for post in site.posts limit: 2 %}
          <p>
          <time datetime="{{ post.date | xmlschema }}">{{ post.date | date_to_long_string }}</time>
          <span class="label success">new!</span>
          </p>
          <article>
          <h2><a href="{{post.url}}">{{ post.title }}</a></h2>
          {{ post.content | truncatewords: 20 }}
          <p><a class="btn primary medium" href="{{post.url}}">全文&raquo;</a></p>
          </article>
        <br>
        <br>
        {% endfor %}
        <hr>
        <h2> 更多文章 </h2>
        <ul class="unstyled">
          {% for post in site.posts offset: 2 %}
          <li>
          <h3><time datetime="{{ post.date | xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time> &raquo;
          <a href="{{post.url}}">{{ post.title }}</a></h3>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="span4">
        <h3>Secondary content</h3>
      </div>
    </div>
  </div>

</div> <!-- /container -->
